# Project exclude paths
/gulimall-common/target/
/renren-fast/target/
/renren-generator/target/

# Maven #
target/

# IDEA #
.idea/
*.iml

# Eclipse #
.settings/
.classpath
.project





























